[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = NVMe management command line interface.
[access "refs/*"]
	owner = group user/peterjweir
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/peterjweir
	label-Verified = -1..+1 group user/peterjweir
	push = group user/peterjweir
	read = group user/peterjweir
	rebase = group user/peterjweir
	removeReviewer = group user/peterjweir
	submit = group user/peterjweir
[access "refs/heads/*"]
	create = group user/peterjweir
	push = +force group user/peterjweir
	pushMerge = group user/peterjweir
	read = group user/peterjweir
[access "refs/tags/*"]
	push = group user/peterjweir
	push = +force group user/peterjweir
